* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

nav {
    background: #6951d6;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
}

.elemento-top {
    margin-top: 70px;
}

.caja {
    width: 300px;
    height: 300px;
    background: coral;
    margin-bottom: 30px;
}