* {
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-weight: 300;
    font-size: 60px;
}

img {
    width: 600px;
}

.icon{
    width: 32px;
}

@media screen and (max-width: 600px) {
    h2 {
        text-align: center;
    }
    img {
        width: 300px;
    }
}